.card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.125rem 1.5rem rgba(255, 0, 200, 0.12);
  width: 24rem;
}

img {
  border-bottom: 0.25rem solid rgb(255, 0, 128);
  border-radius: 0.25rem 0.25rem 0 0;
  height: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  img {
    min-height: 15.5rem;
  }
}

@media screen and (min-width: 1200px) {
  img {
    min-height: 16.375rem;
  }
}

.card-content {
  padding: 1rem;
}

.header,
.subheader {
  margin: 0;
}
